<style>

    .nul {
        float: left;
        border-radius: 5px;
        border: solid 1px rgb(198, 198, 198);
        padding: 7px 11px;
        background-color: rgb(248,248,248);
    }
    .nli {
        float: left;
        background-color: rgb(200,200,200);
        padding: 5px 19px;
        margin: 5px 2px 5px 0px;
        color: black;
        list-style: none;
    }
    .nli:hover, li:hover a {
        background-color: rgb(6,179,6);
        color:white;
    }
    .nli a {
        text-decoration: none;
        color: white;
        font-size: 21px;
        font-style: italic;
        text-shadow: 1px 0px 3px rgb(157, 157, 157);
    }
    .nli:nth-child(1) { border-radius: 4px 0px 0px 4px; margin-left: 1px;}
    .nli:nth-child(3) { border-radius: 0px 4px 4px 0px;}
    .active {
        background-color: rgb(6,179,6);
    }
</style>
<div ng-controller="AdminCtrl">
  <!--  <h1>Hello Admin</h1>

    <p><textarea ng-model="message" cols="40" rows="10"></textarea></p>

    <p>
        <button ng-click="save()">Save</button>
        <button ng-click="clear()">Clear</button>
    </p>

    <p>Number of characters left: <span ng-bind="left()"></span></p> -->
    <h1>Admin Controls</h1>
    <section>
        <ul class="nui" ng-init="tab = 1">
            <li class="nli" ng-class="{active:tab===1}">
                <a href ng-click="tab = 1">List Users</a>
            </li>
            <li class="nli" ng-class="{active:tab===2}">
                <a href ng-click="tab = 2">Manage Invitations</a>
            </li>
            <li class="nli" ng-class="{active:tab===3}">
                <a href ng-click="tab = 3">Manage User</a>
            </li>
            <li class="nli" ng-class="{active:tab===4}">
                <a href ng-click="tab = 4">Test</a>
            </li>
             <br><br>
            <div ng-show="tab === 1">
                <form>
                    <h2>List Users</h2>
                <button ng-click="listUsers()" class="btn btn-success btn-lg">List Users</button>
                <table ng-table="userTable" class="table">
                    <tr><th>Email</th><th>Name</th><th>Handle</th><th>Roles</th></tr>
                    <tr ng-repeat="usr in userList">
                        <td>{{usr.uEmail}}</td>
                        <td>{{usr.uFullName}}</td>
                        <td>{{usr.uName}}</td>
                        <td>{{usr.uRole}}</td>
                    </tr>
                </table>
                </form>
            </div>
            <div ng-show="tab === 2">
                <form>
                    <h2>Manage Invites</h2>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="iemail">
                        <button ng-click="invite()" class="btn btn-primary btn-lg">Add Invitation</button>
                        <button ng-click="removeInvite()"class="btn btn-danger btn-lg">Remove Invitation</button>
                    </div>
                </form>
                <form>
                    <h2>List Invites</h2>
                    <button ng-click="listInvites()" class="btn btn-success btn-lg">List Invites</button>
                    <table ng-table="inviteTable" class="table">
                        <tr><th>Email</th></tr>
                        <tr ng-repeat="inv in inviteList">
                            <td>{{inv}}</td>
                         </tr>
                    </table>
                </form>
            </div>
            <div ng-show="tab === 3">
                <form>
                    <h2>Manage User</h2>
                    <input type="hidden" ng-model="huname">

                    <div class="form-group">
                        <label><b>Enter Email of User and Get User</b></label>
                        <input type="text" class="form-control" ng-model="remail">
                        <button ng-click="getUserForRole()" class="btn btn-primary btn-lg">Get User</button>
                        <br><br><br>
                        <h3>Change User's Role</h3>
                        <label><b class="text-danger">Change or Append Role, comma-delimited</b></label>
                        <input type="text" class="form-control" ng-bind="uRole" ng-model="uRole">
                        <button ng-click="updateUserRole()" class="btn btn-danger btn-lg">Update Role</button>


                    </div>
                </form>
            </div>
            <div ng-show="tab === 4">
                <form>
                    <button ng-click="testTopic()" class="btn btn-danger btn-lg">Test Topic</button>
                </form>
            </div>

        </ul>
    </section>

</div>