<div ng-controller="AdminCtrl">
    <div class="col-sm-6 col-sm-offset-3">

        <h1>Signup</h1>
        <div ng-if="invitationOnly">
            <h3>Signup is by invitation only: requires your email to be on the invitation list.</h3>
        </div>
        <form >
            <div class="form-group">
                <label class="text-danger">Handle must be single word and unique. Validate Handle here. If chosen value is available, it will return in the Handle field below.</label>
                <input type="text" class="form-control" ng-model="vhandle">
                <button ng-click="validate()" class="btn btn-primary btn-lg">Validate</button>
            </div>

        </form>
        <hr/>
            <div class="form-group">
                <label>Email <b class="text-danger">Required for login</b></label>
                <input type="text" class="form-control" ng-model="email">
            </div>
            <div class="form-group">
                <label>Full Name</label>
                <input type="text" class="form-control" ng-model="fullname">
            </div>
            <div class="form-group">
                <label>Handle <b class="text-danger">Required & must be a single word</b></label>
                <input type="text" class="form-control" ng-model="handle">
            </div>
            <div class="form-group">
                <label>Avatar</label>
                <input type="text" class="form-control" ng-model="avatar">
            </div>
            <div class="form-group">
                <label>Home Page</label>
                <input type="text" class="form-control" ng-model="homepage">
            </div>
            <div class="form-group">
                <label>Password (Legal characters include #@$%*! and numbers and letters)</label>
                <input type="password" class="form-control" ng-model="password">
            </div>
            <h4>GeoLocation</h4>
            It is possible to use the GeoMap Application: navigate to your location and click the map to get Latitude and Longitute values.
            <div class="form-group">
                <label>Latitude</label>
                <input type="text" id="Latitude" class="form-control" ng-model="Latitude" value="">
            </div>
            <div class="form-group">
                <label>Longitude</label>
                <input type="text" id="Longitude" class="form-control" ng-model="Longitude" value="">
            </div>
  <!--          <div class="form-group">
                <input type="button" value="Get Location" onclick="getLocationConstant()"/> Might fail to get values
            </div> -->

            <button ng-click="signup()" class="btn btn-success btn-lg">Signup</button>

        <hr>

        <p>Already have an account? <a href="#/admin/login">Login</a></p>
        <p>Or go <a href="#/landing">home</a>.</p>

    </div>
</div>